name: Build and Attest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows]
        goarch: [amd64, arm64]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: |
        OUTPUT_NAME=jenkins-monitor-${{ matrix.goos }}-${{ matrix.goarch }}
        if [ "${{ matrix.goos }}" = "windows" ]; then
          OUTPUT_NAME="${OUTPUT_NAME}.exe"
        fi
        go build -v -o $OUTPUT_NAME cmd/jenkins-monitor/main.go

    - name: Attest Build Provenance
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: |
          jenkins-monitor-${{ matrix.goos }}-${{ matrix.goarch }}*

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: jenkins-monitor-${{ matrix.goos }}-${{ matrix.goarch }}
        path: |
          jenkins-monitor-${{ matrix.goos }}-${{ matrix.goarch }}*
